body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

table {
    border-collapse: collapse;
    margin-top: 15px;
    font-weight: bold;
    color: #333; 
}

th, td {
    border: 1px solid #555;
    padding: 10px;
    text-align: center;
    min-width: 40px;
}

tr th {
    background-color: #00FF00; 
}

tr:first-child th:nth-child(even) {
    background-color: #FFFF00; 
}

tr:nth-child(even) th:first-child {
    background-color: #FFFF00; 
}

tr:first-child th:first-child {
    background-color: #00FF00;
}


.warna-kuning {
    background-color: #FFFF00; 
}

.warna-biru {
    background-color: #ADD8E6; 
}

#output-soal-1 h2 {
    margin-bottom: 10px;
}

.output-genap {
    background-color: #ADD8E6; 
    padding: 8px;
    margin: 4px 0;
    width: 60px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #555;
}